# Java / Maven
/target/
/.idea/
/*.iml
*.class
*.log

# Doxygen HTML
docs/doxygen/
docs

# System
.DS_Store
Thumbs.db

.aider*

# 忽略 Doxygen 输出目录
docs/html/
docs/latex/
docs/rtf/
html/
latex/
*.aux
*.log
*.toc
*.out
*.pdf

